<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include("./partials/head.ejs") %>
<body>
	<!-- Header -->
<%- include("./partials/headerLogueado.ejs") %>


<!-- footer -->
    <%- include("./partials/footer.ejs") %>
    <!-- /footer -->
</body>	
</html>